<!DOCTYPE html>
<html>

<head>

{{ partial "head.html" . }}

</head>

<body>

{{ partial "header.html" . }}


  <main id="app">


    <h1>Set the base url of your Easy Travel Api server</h1>

    <p></p>
    <p></p>
    <form>
      <div class="row">
        <div class="col">
          <label for="destino">Base url</label>
          <input id="destino" type="text" class="form-control" placeholder="Destination" v-model="baseurl">
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col">
          <!--
          <button type="button" class="btn btn-primary" v-on:click="baseurl =  'http://test.easytravelapi.com/rest/yourauthtokenhere';">Mock</button>
          <button type="button" class="btn btn-primary" v-on:click="baseurl = 'http://busso.easytravelapi.com/ewogICJhZ2VudElkIiA6ICIzIiwKICAicGFzcyIgOiAidzM4a1dwIiwKICAibGFuIiA6ICJlbiIsCiAgImxvZ2luIiA6ICJERU1PIFhNTCBBR0VOVCIKfQ==';">Busso</button>
        -->
          <button type="button" class="btn btn-primary" v-on:click="baseurl = 'http://admin.test.quoon.net/resources/eyAiY3JlYXRlZCI6ICJXZWQgTm92IDA4IDEyOjE4OjQ3IENFVCAyMDE3IiwgInVzZXJJZCI6ICJhZG1pbiIsICJhY3RvcklkIjogIjMiLCAiaG90ZWxJZCI6ICIxMiJ9';">Quoon test</button>
        </div>
      </div>

    </form>

  </main>

{{ partial "footer.html" . }}


<script>


if (!localStorage.getItem("baseurl")) {
  localStorage.setItem("baseurl", 'http://admin.test.quoon.net/resources/eyAiY3JlYXRlZCI6ICJXZWQgTm92IDA4IDEyOjE4OjQ3IENFVCAyMDE3IiwgInVzZXJJZCI6ICJhZG1pbiIsICJhY3RvcklkIjogIjMiLCAiaG90ZWxJZCI6ICIxMiJ9');
}

var data = {
  baseurl: localStorage.getItem("baseurl"),
}

window.addEventListener('storage', function(e) {
  data.baseurl = e.baseurl;
});


var vm = new Vue({
  el: '#app',
  data: data,
  /*
  data: {
    mensaje: 'hola!',
  }
  */
  watch: {
    baseurl: function (val) {
      console.log('baseurl ha cambiado a ' + val);
      localStorage.setItem("baseurl", val);
    },
  }
});

</script>


</body>

</html>
