<!DOCTYPE html>
<html>

<head>

{{ partial "head.html" . }}

</head>

<body>

{{ partial "header.html" . }}


  <main class="mainofertas">

    <h1>{{ .Title }}</h1>


<section class="ofertas">


    {{ range $.Page.Site.Data.todo.ofertas }}

<a href="/reserva/" class="href">
    <article class="card">

      <img src="{{ .imagen }}" alt="">

      <h1>{{.titulo}}</h1>

      <p>{{ .texto }}</p>

    </article>

  </a>

    {{ end }}

  </section>


  </main>

{{ partial "footer.html" . }}


</body>

</html>
