<!DOCTYPE html>
<html>

<head>

{{ partial "head-reserva.html" . }}

</head>

<body>

{{ partial "header.html" . }}
<div id="app">

  <section class="ubicacionreserva">

    <div class="cuerpo">

      <h1 v-if="posicion">{{ print "{{ posicion }}" }}</h1>

      <p v-if="msg">{{ print "{{ msg }}" }}</p>

    </div>


  </section>



  <main id="app">


<router-view></router-view>

  </main>

</div>
{{ partial "footer.html" . }}


</body>

</html>

<template id="home">




  <article class="inicioreserva">

    <form action="/reserva/#/available">

      <section>

        <label for="checkin">Entrada</label>
        <input type="date" name="checkin" value="2018-01-01">



      </section>

      <section>

<label for="checkout">Salida</label>
<input type="date" name="checkout" value="2018-01-08">


      </section>

      <section class="seccionocupacion">
        <label for="ocupacion">Ocupación</label>
        <input type="text" name="ocupacion" value="1x2">


      </section>

      <section class="seccionboton">

<button type="button" name="button" onclick="location='/reserva/#/available?checkin=' + checkin.value + '&checkout=' + checkout.value + '&ocupacion=' + ocupacion.value">Check</button>


      </section>


    </form>



  </article>


      <!-- mensajes adicionales -->

      <div class="row marketing" v-show="nohabuscado">

        {{ range $.Page.Site.Data.todo.reserva.mensajes }}

        <div class="col-lg-6">
          <h4>{{ .titulo }}</h4>
          <p>{{ .texto }}</p>
        </div>

        {{ end }}

      </div>




</div>

</template>


<template id="available">

  <div>


  <div id="progreso" v-show="buscando">

    <div class="loading"></div>

  </div>

  <section id="calendario" v-if="calendario">






<article v-if="calendario" class="calendario">

  <template v-for="mes in calendario.months">
    <div class="col-lg-6 mes">

<div class="cabeceracalendario">
      <i class="material-icons md-36 l" v-on:click="iarames(mes, -1)">arrow_back</i><h5>{{ print "{{ mes.title }}" }}</h5><i class="material-icons md-36 r" v-on:click="iarames(mes, 0)">arrow_forward</i>
</div>

      <div class="semana">
        <div class="titulodia">Lu</div>
        <div class="titulodia">Ma</div>
        <div class="titulodia">Mi</div>
        <div class="titulodia">Ju</div>
        <div class="titulodia">Vi</div>
        <div class="titulodia">Sá</div>
        <div class="titulodia">Do</div>
      </div>

    <template v-for="semana in mes.weeks">
      <div class="row semana">
      <template v-for="dia in semana.days">
        <div v-if="dia.blank" class="diaenblanco"></div>
        <div v-if="!dia.blank" :class="'dia ' + dia.styleName " :id="'dia_' + dia.id" v-on:click="seldia(dia)">{{ print "{{ dia.day }}" }}</div>
      </template>
    </div>
    </template>
  </div>
  </template>


</article>



<p>Haz click en las nuevas fechas de entrada y de salida.</p>




</section>

  <div id="resultados" v-if="dispo && haydispo && !calendario">

  <hr>

  <table class="table" style="margin-top: 50px;margin-bottom: 50px;">
    <thead>
      <tr>
        <th>Rooms</th>
        <th>Board</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>

      <template v-for="hotel in dispo.hotels">
        <template v-for="option in hotel.options">
          <template v-for="price in option.prices">

      <tr>

        <td>{{ print "{{ option.distributionString }}" }}</td>
        <td>{{ print "{{ price.boardBasisName }}" }}</td>
        <td><button type="button" class="btn btn-primary" v-on:click="extrainfo(price)">{{ print "{{ price.netPrice.value }}  {{ price.netPrice.currencyIsoCode}}" }}</button></td>

      </tr>

          </template>
      </template>
    </template>

    </tbody>
  </table>



  <hr>

  <!--

  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

  -->

  </div>

</div>

</template>


<template id="extrainfo">

<!--
  <div id="progreso" v-show="buscando">

    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>

  </div>
-->

<div>

<h1>Step 2: Check important info, fill and book</h1>

  <div v-if="detalles" class="row" style="margin-top: 50px;margin-bottom: 50px;">

    <div class="col-12 col-lg-4 push-lg-8">

      <div v-for="r in detalles.remarks" v-bind:class="estiloaviso(r.type)" role="alert">
        {{ print "{{ r.text }}" }}
      </div>

      </p>


      <hr>

      <p>Cancellation costs</p>

      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>After</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="c in detalles.cancellationCosts">
            <th scope="row">1</th>
            <td>{{ print "{{c.gmttime}}" }}</td>
            <td>{{ print "{{ c.net.value }} {{ c.net.currencyIsoCode}}" }}</td>
          </tr>
        </tbody>
      </table>


          </div>


  <div class="col-12 col-lg-8 pull-lg-4">


    <form>
      <div class="form-group">
        <label for="name">Your name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name" v-model="parametros.titular">
      </div>
      <div class="form-group">
        <label for="name">Special requests</label>
        <textarea class="form-control" id="name" placeholder="If you have any" v-model="parametros.comentarios"></textarea>
      </div>
      <!--
      <router-link tag="button" type="button" class="btn btn-secondary" :to="{name: 'home'}">&lt;&lt; &nbsp;Search again</router-link>
    -->
      <button type="button" class="btn btn-primary" v-on:click="book">Book</button>
    </form>


  </div>

</div>

</div>
</template>

<template id="booked">

  <div class="container text-center" style="padding-top: 60px">



      <i class="fa fa-check-circle" aria-hidden="true" style="color:green; font-size: 10em;"></i>


      <p>Congratulations!</p>

      <p>Your booking has been confirmed with id <b>{{ print "{{ bookingId }}" }}</b></p>

<div style="margin-top: 130px;"></div>
<!--

      <p>
        <router-link tag="button" type="button" class="btn btn-secondary" :to="{name: 'home'}">&lt;&lt; &nbsp;Search again</router-link>
      </p>
-->

  </div>

</template>

<template id="error">

  <div class="container text-center" style="padding-top: 60px">



      <i class="fa fa-window-close" aria-hidden="true" style="color:red; font-size: 10em;"></i>


      <p>Oops!</p>

      <p>Something went wrong: <b>{{ print "{{ msg }}" }}</b></p>

<div style="margin-top: 130px;"></div>

<!--
      <p>
        <router-link tag="button" type="button" class="btn btn-secondary" :to="{name: 'home'}">&lt;&lt; &nbsp;Search again</router-link>
      </p>
-->

  </div>

</template>


<script>

if (!localStorage.getItem("baseurl")) {
  localStorage.setItem("baseurl", 'http://admin.test.quoon.net/resources/eyAiY3JlYXRlZCI6ICJXZWQgTm92IDA4IDEyOjE4OjQ3IENFVCAyMDE3IiwgInVzZXJJZCI6ICJhZG1pbiIsICJhY3RvcklkIjogIjMiLCAiaG90ZWxJZCI6ICIxMiJ9');
}

var data = {
  nohabuscado: true,
  buscando: false,
  haydispo: false,
  parametros: {
    resort: '1',
    ocupacion: '1x2',
    checkin: '2018-01-15',
    checkout: '2018-01-23',
  },
  dispo: null,
  calendario: null,
  calendariodia: null,
  detalles: null,
  resultado: null,
  bookingId: null,
  paso: 1,
  baseurl: localStorage.getItem("baseurl"),
  msg: null,
  posicion: 'Por favor selecciona fechas y ocupación',
}

window.addEventListener('storage', function(e) {
  data.baseurl = e.baseurl;
});

var _error = Vue.component(
  'error', {
    template: '#error',
    data: function() {
        return data;
    },
    mounted() {
      data.paso = 4;
      console.log(this.$route.params);
      data.msg = this.$route.params.msg;

      data.posicion = 'Error al confirmar la reserva';
      data.msg = '';
    }
  }
)

var _booked = Vue.component(
  'booked', {
    template: '#booked',
    data: function() {
        return data;
    },
    mounted() {
      data.paso = 3;
      console.log(this.$route.params);
      data.bookingId = this.$route.params.bookingId;

      data.posicion = 'Reserva confirmada.';
      data.msg = '';

    }
  }
)

var _home = Vue.component(
  'home', {
    template: '#home',
    data: function() {
        return data;
    },
    methods: {
      buscar: function() {
        console.log('buscar!');
        this.$router.push({ name: 'available', query: {checkin: data.parametros.checkin, checkout: data.parametros.checkout, ocupacion: data.parametros.ocupacion} });
        console.log('pushed!');
      }
    },
    mounted () {
      data.paso = 0;

      console.log( "ready!" );

      // $('#cambiarocupacion').on('click', function(e) {
      //   console.log('clicked');
      // });

      $('#exampleModalLive').on('show.bs.modal', function () {
        console.log('modal');

        $('#divocupaciones').hide();
        $('#divocupaciones').html('');


        var a = data.parametros.ocupacion.split(',');
        for (var b = 0; b < a.length; b++) {
          var c = a[b];
          var d = c.split('x');
          var habs = d[0];

          var e = d[1].split('-');
          var pax = e[0];
          var edades = '';
          for (var f = 1; f < e.length; f++) {
            if (edades != '') edades += ' ';
            edades += e[f];
          }

          $('#divocupaciones').append($('#templateocupacion').children('.ocupacion').first().clone());
          var elem = $('#divocupaciones').children('.ocupacion').last();
          var xa = elem.find('.habitaciones');
          var xb = elem.find('.pax');
          var xc = elem.find('.edades');

          xa.val(habs);
          xb.val(pax);
          xc.val(edades);

        }

        $('#divocupaciones').show();

      })

      $('#exampleModalLive').on('hide.bs.modal', function () {
        console.log('modal');
//$('#myInput').trigger('focus')
        var s = '';
        $('#divocupaciones').children('.ocupacion').each(function(i) {

          var a = $(this).find('.habitaciones');
          var b = $(this).find('.pax');
          var c = $(this).find('.edades');
          console.log(a.html());
          if (a.val() != '0') {
            if (s != '') s += ',';
            s += '' + a.val() + 'x' + b.val();

            if (c.val().trim() != '') {
              var y = c.val().split(/[\s,]+/);
              for (var q = 0; q < y.length; q++) {
                var e = parseInt(y[q]);
                 if (!isNaN(e)) s += '-' + y[q];
              }
            }

          }

        });
        Vue.set(data.parametros, 'ocupacion', s);
      })


      $('#divocupaciones').on('click', '.eliminarocupacion', function(e) {
          if ($('#divocupaciones').children('.ocupacion').length == 1) {
              alert('You must leave at least 1 occupation');
          } else {
              $(this).parents('.ocupacion').remove();
          }

      });

      $('#addocupacion').on('click', function(e) {
          $('#divocupaciones').append($('#templateocupacion').children('.ocupacion').first().clone());
      });

    }
  }
);


var _available = Vue.component(
  'available', {
    template: '#available',
    data: function() {
        return data;
    },
    methods: {

      buscar: function() {
        console.log('buscar!');
        this.$router.push({ name: 'available', query: {checkin: data.parametros.checkin, checkout: data.parametros.checkout, ocupacion: data.parametros.ocupacion} });
        this.disporx();
        console.log('pushed!');
      },

      seldia: function(dia) {
        console.log('seldia ' + dia);
        if (data.calendariodia) {
          if (dia.id < data.calendariodia.id) {
            al = data.calendariodia.date;
            del = dia.date;
          } else {
            del = data.calendariodia.date;
            al = dia.date;
          }

          this.$router.push({ name: 'available', query: {checkin: del, checkout: al, ocupacion: data.parametros.ocupacion} });
          // data.parametros.checkin = del;
          // data.parametros.checkout = al;
          // this.disporx();
        } else {
          data.calendariodia = dia;
          $('#dia_' + dia.id).addClass('marcado');
        }
      },

      disporx: function() {
        zzz = this;
        console.log('buscar');
        data.nohabuscado = false;
        data.buscando = true;
        data.dispo = null;
        data.calendario = null;
        axios({
        method: 'get',
        url: data.baseurl + '/hotel/available',
        params: {
          resorts: data.parametros.resort,
          checkin: data.parametros.checkin?data.parametros.checkin.replace(/-/g, ""):null,
          checkout: data.parametros.checkout?data.parametros.checkout.replace(/-/g, ""):null,
          occupancies: data.parametros.ocupacion,
          incudestaticinfo: false,
        }
        })
        .then(function (response) {
          data.buscando = false;
          console.log(response.data);
                  console.log(response.data.hotels);
        data.dispo = response.data;
        data.msg = response.data.msg;
        console.log(data.msg);
        data.haydispo = data.dispo.hotels.length > 0;

        if (!data.haydispo) {
          data.buscando = true;
          zzz.$router.push({ name: 'calendario', query: {checkin: data.parametros.checkin, checkout: data.parametros.checkout, ocupacion: data.parametros.ocupacion} });
        }
        //Vue.set(vm, 'dispo.data', response.data)
        })
        .catch(function (error) {
          data.buscando = false;
        console.log(error);
        });

        //$('#resultados').show();
      },
      extrainfo: function(price) {

        this.$router.push({ name: 'extrainfo', params: {key: price.key} });

      }
    },
    mounted () {
      console.log('mounted available ' + this.$route.query.checkin);

      data.parametros.checkin = this.$route.query.checkin;
      data.parametros.checkout = this.$route.query.checkout;
      data.parametros.ocupacion = this.$route.query.ocupacion;

      data.posicion = 'Selecciona una opción.';

      this.disporx();
    },
    beforeRouteUpdate (to, from, next) {
      console.log('en el componente to=' + to.fullPath + ' from=' + from.fullPath);

        data.parametros.checkin = to.query.checkin;
        data.parametros.checkout = to.query.checkout;
        data.parametros.ocupacion = to.query.ocupacion;

        data.posicion = 'Selecciona una opción.';

        console.log('data.checkin=' + data.parametros.checkin + ' data.checkout=' + data.parametros.checkout);

        this.disporx();

      next();
  }
  }
);


var _calendario = Vue.component(
  'calendario', {
    template: '#available',
    data: function() {
        return data;
    },
    methods: {

      iarames: function (mes, delta) {

        var nummes = mes.month + delta;
        var ano = mes.year;
        if (nummes < 1) {
          ano--;
          nummes = 12;
        } else if (nummes > 12) {
          ano++;
          nummes = 1;
        }

        var smes = "" + nummes;
        if (nummes < 10) smes = "0" + smes;


        data.parametros.checkin = ano + "-" + smes + "-01";
        data.parametros.checkout = data.parametros.checkin;
        this.$router.push({ name: 'calendario', query: {checkin: data.parametros.checkin, checkout: data.parametros.checkout, ocupacion: data.parametros.ocupacion} });
      },

      seldia: function(dia) {
        console.log('seldia ' + dia);
        if (data.calendariodia) {
          if (dia.id < data.calendariodia.id) {
            al = data.calendariodia.date;
            del = dia.date;
          } else {
            del = data.calendariodia.date;
            al = dia.date;
          }

          this.$router.push({ name: 'available', query: {checkin: del, checkout: al, ocupacion: data.parametros.ocupacion} });
          // data.parametros.checkin = del;
          // data.parametros.checkout = al;
          // this.disporx();
        } else {
          data.calendariodia = dia;
          $('#dia_' + dia.id).addClass('marcado');
        }
      },

      cargarcalendario: function() {
        console.log('cargar calendario');

        data.calendario = null;
        data.calendariodia = null;
        axios({
        method: 'get',
        url: data.baseurl + '/cms/hotelavailabilitycalendar',
        params: {
          resorts: data.parametros.resort,
          checkin: data.parametros.checkin?data.parametros.checkin.replace(/-/g, ""):null,
          checkout: data.parametros.checkout?data.parametros.checkout.replace(/-/g, ""):null,
          occupancies: data.parametros.ocupacion,
          incudestaticinfo: false,
        }
        })
        .then(function (response) {
          data.buscando = false;
                  console.log(response.data);
        data.calendario = response.data;
        data.msg = response.data.msg


        //Vue.set(vm, 'dispo.data', response.data)
        })
        .catch(function (error) {
          data.buscando = false;
        console.log(error);
        });

      },

    },
    mounted () {
      console.log('mounted calendario ' + this.$route.query.checkin);

      data.parametros.checkin = this.$route.query.checkin;
      data.parametros.checkout = this.$route.query.checkout;
      data.parametros.ocupacion = this.$route.query.ocupacion;

      data.posicion = 'Selecciona fechas.';

      this.cargarcalendario();
    },
    beforeRouteUpdate (to, from, next) {
      console.log('en el componente to=' + to.fullPath + ' from=' + from.fullPath);

        data.parametros.checkin = to.query.checkin;
        data.parametros.checkout = to.query.checkout;
        data.parametros.ocupacion = to.query.ocupacion;

        data.posicion = 'Selecciona fechas.';

        console.log('data.checkin=' + data.parametros.checkin + ' data.checkout=' + data.parametros.checkout);

        this.cargarcalendario();

      next();
  }
  }
);


var _extrainfo = Vue.component(
  'extrainfo', {
    template: '#extrainfo',
    data: function() {
        return data;
    },
    methods: {
      estiloaviso: function(tipo) {
        switch(tipo) {
          case 'IMPORTANT': return 'alert alert-danger';
          case 'WARNING': return 'alert alert-warning';
          case 'INFO': return 'alert alert-info';
          default: return '';
        }
      },
      book: function() {
        console.log('book ' + data.seleccion);

        axios({
        method: 'put',
        url: data.baseurl + '/hotel/booking',
        data: {
          key: this.$route.params.key,
          leadName: data.parametros.titular,
          commentsToProvider: data.parametros.comentarios,
        }
        })
        .then(function (response) {
          data.buscando = false;
          console.log(response.data);
          data.resultado = response.data;
          data.bookingId = response.data.bookingId;
          data.msg = response.data.msg
          if (data.resultado.statusCode == 200) vm.$router.push({ name: 'booked', params: {bookingId: data.bookingId } });
          else vm.$router.push({ name: 'error', params: {msg: data.msg } });
        //Vue.set(vm, 'dispo.data', response.data)
        })
        .catch(function (error) {
          data.buscando = false;
        console.log(error);
        });
      }
    },
    mounted () {
      console.log('extrainfo ' + this.$route.params.key);

      data.seleccion = this.$route.params.key;

      data.posicion = 'Rellena y reserva';
      data.msg = '';

      axios({
      method: 'get',
      url: data.baseurl + '/hotel/pricedetails/' + data.seleccion
      })
      .then(function (response) {
        data.buscando = false;
        console.log(response.data);
        data.detalles = response.data;
        data.paso = 2;
      //Vue.set(vm, 'dispo.data', response.data)
      })
      .catch(function (error) {
        data.buscando = false;
      console.log(error);
      });

    }
  }
);


Vue.use(VueRouter);

const rutas = [
  { path: '/', name: 'home', component: _home, },
  { path: '/available', name: 'available', component: _available, },
  { path: '/calendario', name: 'calendario', component: _calendario, },
  { path: '/extrainfo/:key', name: 'extrainfo', component: _extrainfo, },
  { path: '/booked/:bookingId', name: 'booked', component: _booked, },
  { path: '/error/:msg', name: 'error', component: _error, },
]

const router = new VueRouter(
  {
    routes: rutas,
  }
);

// router.afterEach((to, from) => {
//   console.log('to=' + to.fullPath + ' from=' + from.fullPath);
// })



var vm = new Vue({
  el: '#app',
  data: data,
  router,
  /*
  data: {
    mensaje: 'hola!',
  }
  */
});

</script>

</html>
