<article class="inicioreserva">

  <form action="/reserva/#/available">

    <section class="seccionfechas">

      <label for="checkin">Entrada</label>
      <input type="date" name="checkin" id="checkin" value="2018-01-01" disabled>



    </section>

    <section class="seccionfechas">

      <label for="checkout">Salida</label>
      <input type="date" name="checkout" id="checkout" value="2018-01-08" disabled>


    </section>

    <section class="seccionocupacion">
      <label for="ocupacion">Ocupación</label>
      <input type="text" name="ocupacion" id="ocupacion" value="1x2" disabled>


    </section>

    <section class="seccionboton">

      <button type="button" name="button" onclick="location='/reserva/#/available?checkin=' + checkin.value + '&checkout=' + checkout.value + '&ocupacion=' + ocupacion.value">Check</button>


    </section>


  </form>

</article>

<section class="desplegables">


  <article class="calendario">

    <div class="divcalendario">

      <div class="mes">

        <div class="cabeceracalendario">
          <i class="material-icons md-36 l">arrow_back</i>
          <h5 class="titulomes0"></h5><i class="material-icons md-36 r">arrow_forward</i>
        </div>

        <div class="semana">
          <div class="titulodia">Lu</div>
          <div class="titulodia">Ma</div>
          <div class="titulodia">Mi</div>
          <div class="titulodia">Ju</div>
          <div class="titulodia">Vi</div>
          <div class="titulodia">Sá</div>
          <div class="titulodia">Do</div>
        </div>


        <div class="semana">
          <div class="dia" id="dia_0_0">0</div>
          <div class="dia" id="dia_0_1">1</div>
          <div class="dia" id="dia_0_2">2</div>
          <div class="dia" id="dia_0_3">3</div>
          <div class="dia" id="dia_0_4">4</div>
          <div class="dia" id="dia_0_5">5</div>
          <div class="dia" id="dia_0_6">6</div>
        </div>

        <div class="semana">
          <div class="dia" id="dia_0_7">0</div>
          <div class="dia" id="dia_0_8">1</div>
          <div class="dia" id="dia_0_9">2</div>
          <div class="dia" id="dia_0_10">3</div>
          <div class="dia" id="dia_0_11">4</div>
          <div class="dia" id="dia_0_12">5</div>
          <div class="dia" id="dia_0_13">6</div>
        </div>
        <div class="semana">
          <div class="dia" id="dia_0_14">0</div>
          <div class="dia" id="dia_0_15">1</div>
          <div class="dia" id="dia_0_16">2</div>
          <div class="dia" id="dia_0_17">3</div>
          <div class="dia" id="dia_0_18">4</div>
          <div class="dia" id="dia_0_19">5</div>
          <div class="dia" id="dia_0_20">6</div>
        </div>
        <div class="semana">
          <div class="dia" id="dia_0_21">0</div>
          <div class="dia" id="dia_0_22">1</div>
          <div class="dia" id="dia_0_23">2</div>
          <div class="dia" id="dia_0_24">3</div>
          <div class="dia" id="dia_0_25">4</div>
          <div class="dia" id="dia_0_26">5</div>
          <div class="dia" id="dia_0_27">6</div>
        </div>
        <div class="semana">
          <div class="dia" id="dia_0_28">0</div>
          <div class="dia" id="dia_0_29">1</div>
          <div class="dia" id="dia_0_30">2</div>
          <div class="dia" id="dia_0_31">3</div>
          <div class="dia" id="dia_0_32">4</div>
          <div class="dia" id="dia_0_33">5</div>
          <div class="dia" id="dia_0_34">6</div>
        </div>
        <div class="semana">
          <div class="dia" id="dia_0_35">0</div>
          <div class="dia" id="dia_0_36">1</div>
          <div class="dia" id="dia_0_37">2</div>
          <div class="dia" id="dia_0_38">3</div>
          <div class="dia" id="dia_0_39">4</div>
          <div class="dia" id="dia_0_40">5</div>
          <div class="dia" id="dia_0_41">6</div>
        </div>
      </div>






      <div class="mes">

        <div class="cabeceracalendario">
          <i class="material-icons md-36 l">arrow_back</i>
          <h5 class="titulomes1"></h5><i class="material-icons md-36 r">arrow_forward</i>
        </div>

        <div class="semana">
          <div class="titulodia">Lu</div>
          <div class="titulodia">Ma</div>
          <div class="titulodia">Mi</div>
          <div class="titulodia">Ju</div>
          <div class="titulodia">Vi</div>
          <div class="titulodia">Sá</div>
          <div class="titulodia">Do</div>
        </div>


        <div class="semana">
          <div class="dia" id="dia_1_0">0</div>
          <div class="dia" id="dia_1_1">1</div>
          <div class="dia" id="dia_1_2">2</div>
          <div class="dia" id="dia_1_3">3</div>
          <div class="dia" id="dia_1_4">4</div>
          <div class="dia" id="dia_1_5">5</div>
          <div class="dia" id="dia_1_6">6</div>
        </div>

        <div class="semana">
          <div class="dia" id="dia_1_7">0</div>
          <div class="dia" id="dia_1_8">1</div>
          <div class="dia" id="dia_1_9">2</div>
          <div class="dia" id="dia_1_10">3</div>
          <div class="dia" id="dia_1_11">4</div>
          <div class="dia" id="dia_1_12">5</div>
          <div class="dia" id="dia_1_13">6</div>
        </div>
        <div class="semana">
          <div class="dia" id="dia_1_14">0</div>
          <div class="dia" id="dia_1_15">1</div>
          <div class="dia" id="dia_1_16">2</div>
          <div class="dia" id="dia_1_17">3</div>
          <div class="dia" id="dia_1_18">4</div>
          <div class="dia" id="dia_1_19">5</div>
          <div class="dia" id="dia_1_20">6</div>
        </div>
        <div class="semana">
          <div class="dia" id="dia_1_21">0</div>
          <div class="dia" id="dia_1_22">1</div>
          <div class="dia" id="dia_1_23">2</div>
          <div class="dia" id="dia_1_24">3</div>
          <div class="dia" id="dia_1_25">4</div>
          <div class="dia" id="dia_1_26">5</div>
          <div class="dia" id="dia_1_27">6</div>
        </div>
        <div class="semana">
          <div class="dia" id="dia_1_28">0</div>
          <div class="dia" id="dia_1_29">1</div>
          <div class="dia" id="dia_1_30">2</div>
          <div class="dia" id="dia_1_31">3</div>
          <div class="dia" id="dia_1_32">4</div>
          <div class="dia" id="dia_1_33">5</div>
          <div class="dia" id="dia_1_34">6</div>
        </div>
        <div class="semana">
          <div class="dia" id="dia_1_35">0</div>
          <div class="dia" id="dia_1_36">1</div>
          <div class="dia" id="dia_1_37">2</div>
          <div class="dia" id="dia_1_38">3</div>
          <div class="dia" id="dia_1_39">4</div>
          <div class="dia" id="dia_1_40">5</div>
          <div class="dia" id="dia_1_41">6</div>
        </div>

      </div>

    </div>


    <div class="footercalendario"></div>


  </article>



  <article class="seleccionocupaciones">

    <div id="divocupaciones">
      <section class="ocupacion">
        <section class="shabitaciones">
          <select name="habitaciones" class="habitaciones"><option value="1">1</option><option value="2">2</option></select>
        </section>
        <section class="spax">
          <select name="pax" class="pax"><option value="1">1</option><option value="2" selected="selected">2</option><option value="3">3</option></select>
        </section>
        <section class="sedades">
          <input type="text" name="edades" class="edades">
        </section>
        <section class="eliminar">
          <button type="button" class="eliminarocupacion" aria-label="Delete">
<span aria-hidden="true">&times;</span>
</button>
        </section>
      </section>
    </div>




    <button type="button" id="addocupacion">Add</button>

    <button type="button" id="setocupacion">Ok</button>


    <div id="templateocupacion" style="display: none;">
      <section class="ocupacion">
        <section class="shabitaciones">
          <select name="habitaciones" class="habitaciones"><option value="1">1</option><option value="2">2</option></select>
        </section>
        <section class="spax">
          <select name="pax" class="pax"><option value="1">1</option><option value="2" selected="selected">2</option><option value="3">3</option></select>
        </section>
        <section class="sedades">
          <input type="text" name="edades" class="edades">
        </section>
        <section class="eliminar">
          <button type="button" class="btn btn-danger eliminarocupacion" aria-label="Delete">&times;</button>
        </section>
      </section>
    </div>

  </article>

</section>
