<!DOCTYPE html>
<html>

<head>

{{ partial "head.html" . }}

</head>

<body>

{{ partial "header.html" . }}


  <main>

    <section>

      <article class="mensajehome">

        <h1>Bienvenido</h1>

        <p>Tagline Lorem Ipsum</p>

      </article>



      <article class="inicioreserva">

        <form action="/reserva/#/available">

          <section>

            <label for="checkin">Entrada</label>
            <input type="date" name="checkin" value="2018-01-01">



          </section>

          <section>

<label for="checkout">Salida</label>
<input type="date" name="checkout" value="2018-01-08">


          </section>

          <section class="seccionocupacion">
            <label for="ocupacion">Ocupación</label>
            <input type="text" name="ocupacion" value="1x2">


          </section>

          <section class="seccionboton">

<button type="button" name="button" onclick="location='/reserva/#/available?checkin=' + checkin.value + '&checkout=' + checkout.value + '&ocupacion=' + ocupacion.value">Check</button>


          </section>


        </form>



      </article>


    </section>

    <section class="mensajes">

      <article class="mensaje">
        <h1>Mejor precio online</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a turpis rutrum, rhoncus mi a, aliquet lectus. Morbi a leo felis. Proin blandit quis sem sed ullamcorper. In hac habitasse platea dictumst. Cras vitae fringilla nulla.</p>
      </article>

      <article class="mensaje">
        <h1>Ventajas reserva online</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a turpis rutrum, rhoncus mi a, aliquet lectus. </p>
      </article>

    </section>

  </main>

{{ partial "footer.html" . }}


</body>

</html>
